.input-response-1, .input-response-2{
    background-color: #FBC037;
    border: 0px;
    border-radius: 5px;
    width: 10vw;
    height: 4vh;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.input-response-1::placeholder, .input-response-2::placeholder {
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.input-response-1:focus, .input-response-2:focus{
    outline: none;
}
.input-response-1:focus::-webkit-input-placeholder,  .input-response-2:focus::-webkit-input-placeholder{
    color: transparent;
 }

.response-off-1{
    display: none;
}
 .response-correct-1{
     display: none;
     font-size: 20px;
     font-weight: 600;
     color: #179E7E;
    }

 .response-correct-1{
     display: inline-block;
     margin: 0;
 }

.response-off-2{
    display: none;
}
 .response-correct-2{
     display: none;
     font-size: 20px;
     font-weight: 600;
     color: #179E7E;
    }

 .response-correct-2{
     display: inline-block;
     margin: 0;
     margin-left: 5px;
 }

.options{
    display: none;
}

.options-on{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 12vw;
}

.options-on li {
    background-color: #FBC037;
    border: 2px solid black;
    border-top: 0;
    height: 4vh;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.options-on li:hover{
    background-color: #fbc037cf;
}
.options-on li:nth-last-child(1){
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.options-on li:nth-child(1){
    border-top: 2px solid black;
    border-top-right-radius: 5px;
}

.box {
    display: flex;
    margin-top: 10px;
}

.box div{
    display: flex;
    flex-direction: column;

}

.box1{
    display: flex;
}

.error{
    display: none;
}

.error-on{
    background-color: rgb(253, 27, 27);
    height: 4.3vh;
    width: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
@media (max-width: 800px){
    .error-on{
        width: 5vh;
        height: 5.2vh;
    }
    .input-response-1, .input-response-2{
        width: 15vw;
        height: 5vh;
    }
    .options-on{
        width: 20vw;
    }
}
